
@import './_normalize';
@import './variables';
@import './mixins';

body{
   background-color: $backgroundColor;
}

h1{
   position: relative;
   @include textMix(22px, 24px, 5px, normal, normal, green, center);
   @extend %transition;
   &:before{
      @include beforeMix(url('../images/icons/Union.svg'), 0, auto, 0, 0, 20px, 20px, transparent, center, contain);
   }
}
.container{
   width: 100%;
   max-width: 1140px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   box-sizing: border-box;
   @media only screen and (max-width: 992px){
      max-width: 960px;
   }
   @media only screen and (max-width: 768px){
      max-width: 720px;
   }
   @media only screen and (max-width: 576px){
      max-width: 540px;
   }
}